.card-slider
    width: remify(40%)
    height: 100vh
    position: fixed
    top: 0
    right: remify(-43%)
    z-index: 2
    background: linear-gradient(var(--linearGradient3), var(--linearGradient2), var(--linearGradient1) 30%) 
    border-left: remify(1px) solid var(--secondaryColor)
    transition: all .4s
    box-shadow: 2rem 0 4rem var(--tertiaryColor) 

    &.opened
        right: 0
        transition: all .4s

    &__header
        height: 3%
        margin: 2.5% 2.5% 0 2.5% 
        display: flex
        justify-content: space-between

        &-checkbox
            position: relative
            display: flex

            &-input:checked + label:before
                left: remify(28px)
                transition: all .3s

            &-input
                visibility: hidden
                position: absolute
                z-index: -2

            &-label
                position: relative
                width: remify(55px)
                height: remify(29px)
                border-radius: remify(10px)
                background-color: var(--primaryColor)
                cursor: pointer
                display: flex
                justify-content: space-around
                align-items: center

                &-option
                    z-index: 2
                    color: var(--tertiaryColor)
                    font-family: var(--primaryFont)
                    font-weight: bold

                &:before
                    content: ''
                    position: absolute
                    top: remify(2px)
                    left: remify(2px)
                    width: remify(25px)
                    height remify(25px)
                    z-index: 1
                    border-radius: remify(8px)
                    background-color: var(--linearGradient1)
                    transition: all .3s

    &__forecast
        width: 100%
        height: 97%
        display: flex
        flex-direction: column
        align-items: center

        &-items
            min-width: 30%
            height: 40%
            display: flex
            flex-direction: column
            align-items: center

        &-city
            box-sizing: border-box
            height: 25%
            padding-top: 5%
            font-family: var(--primaryFont)
            font-size: remify(72px)

        &-icon
            width: remify(112px)
            height: remify(112px)
            margin-bottom: remify(-12px)

            &-img
                width: 100%
                height: 100%

        &-temperature
            color: var(--primaryColor) 
            font-family: var(--primaryFont)
            font-size: remify(70px)
            font-weight: bold 
            align-self: flex-end

        &-feelslike
            margin-top: remify(12px)
            color: var(--primaryColor)
            font-family: var(--primaryFont)
            font-size: remify(24px)
            font-weight: bold
            align-self: flex-end

            & span
                color: var(--tertiaryColor)
        
        &-temps
            height: 5%
            display: flex
            color: var(--tertiaryColor)
            font-family: var(--primaryFont)
            font-size: remify(24px)
            font-weight: bold

            &-separator
                margin: 0 .5rem 0 .5rem

        &-info
            width: 100%
            height: 30%
            background-color: var(--primaryColor)
            border-top: remify(1px) solid var(--secondaryColor)
            box-shadow: 1rem 0 4rem var(--secondaryColor)
            display: flex
            justify-content: center

        &-humidity
            color: var(--linearGradient1)
            font-family: var(--primaryFont)
            font-size: remify(40px)
            display: flex
            flex-direction: column
            justify-content: center
            align-items: center

            & span
                width: 100%
                margin-top: 13%
                color: var(--tertiaryColor)
                font-size: remify(20px)

        &-windspeed
            margin-left: 7%
            display: flex
            flex-direction: column
            justify-content: center
            align-items: center

            & span
                width: 100%
                margin-top: 7%
                color: var(--tertiaryColor)
                font-family: var(--primaryFont)
                font-size: remify(20px)
                text-align: center

            &-value
                color: var(--linearGradient1)
                font-family: var(--primaryFont)
                font-size: remify(40px)

                & span 
                    color: var(--linearGradient1)
                    margin-left: -5%
            
        &-weather
            margin: 1.5% 0 0 5%
            display: flex
            flex-direction: column
            justify-content: center
            align-items: center
            font-family: var(--primaryFont)

            &-description1
                font-size: remify(32px)
                color: var(--linearGradient1)
            
            &-description2
                text-align: center
                margin-top: 5%
                width: 100%
                font-size: remify(24px)
                color: var(--tertiaryColor)
            
