.card-slider
    width: 650px
    height: 100vh
    position: fixed
    z-index: 2
    top: 0
    right: -650px
    background: linear-gradient(linearGradient1, linearGradient2, linearGradient3, primaryColor) 
    transition: all .4s
    border-left: 1px solid secondaryColor

    &.opened
        right: 0
        transition: all .4s

    &__closer
        height: 3%
        border: none
        padding: 0
        background: transparent
        transition: all .4s
        outline: none
        margin: 15px 0 0 15px

        &:hover
            transform: scale3d(1.3, 1.3, 1.3)
            transition: transform .4s
            cursor: pointer

    &__forecast
        width: 100%
        height: 97%
        display: flex
        flex-direction: column
        align-items: center

        &-items
            height: 40%
            display: flex
            flex-direction: column
            align-items: center

        &-city
            box-sizing: border-box
            font-family: primaryFont
            font-size: 70px
            height: 25%
            padding-top: 5%

        &-icon
            width: 70px
            height: 70px
            align-self: flex-start

        &-temperature
            font-family: primaryFont
            font-size: 70px
            color: primaryColor 
            font-weight: bold 
            align-self: flex-end

        &-feelslike
            color: primaryColor
            font-family: primaryFont
            font-weight: bold
            font-size: 24px
            align-self: flex-end
            margin-top: 10px

            & span
                color: tertiaryColor
        
        &-temps
            display: flex
            font-family: primaryFont
            font-size: 24px
            color: tertiaryColor
            font-weight: bold
            height: 5%

            &max
                margin-left: 5px
            
            &min
                margin-right: 5px

        &-info
            width: 100%
            height: 30%
            background-color: primaryColor
            border-top: 1px solid secondaryColor
            box-shadow: 0 -10px 100px primaryColor

            display: flex
            justify-content: center

            & div:not(:first-child)
                margin-left: 50px

        &-humidity
            display: flex
            flex-direction: column
            justify-content: center
            align-items: center
            font-family: primaryFont
            font-size: 42px
            color: linearGradient1

            & span
                width: 100%
                font-size: 20px
                margin-top: 10px
                color: tertiaryColor

        &-windspeed
            display: flex
            flex-direction: column
            justify-content: center
            align-items: center

            & div
                font-family: primaryFont
                font-size: 42px
                color: linearGradient1

                & span 
                    color: linearGradient1
                    margin-left: -5px

            & span
                font-family: primaryFont
                text-align: center
                width: 100%
                font-size: 20px
                margin-top: 10px
                color: tertiaryColor
            
        &-weather 
            display: flex
            flex-direction: column
            justify-content: center
            align-items: center
            font-family: primaryFont
            font-size: 34px
            color: linearGradient1
            margin-top: 10px
            
            & div
                text-align: center
                margin-top: 10px
                width: 100%
                font-size: 24px
                color: tertiaryColor
            
