.close-window
    padding: 0
    background: transparent
    outline: none
    border: none
    transition: all .4s

    &:hover
        cursor: pointer
        transform: scale3d(1.3, 1.3, 1.3)
        transition: transform .4s

.close-svg
    line
        stroke: var(--tertiaryColor)