
// Small Laptop    
@media screen and (min-width: 1024px) and (max-width: 1399px) {
    :root {
        font-size: 14px
    }
}

// Tablet
@media screen and (min-width: 768px) and (max-width: 1023px) {
    :root {
        font-size: 12px
    }
    .card-slider.opened {
        width: 60%
    }
}

// Mobile
@media screen and (min-width: 550px) and (max-width: 767px) {
    :root {
        font-size: 10px
    }
    .card-slider.opened {
        width: 100%
    }
}

// Small Mobile
@media screen and (max-width: 549px) {
    :root {
        font-size: 8px
    }
    .card-slider.opened {
        width: 100%
    }
}