
// Mobile
@media screen and (max-width: 768px) {
    .card-slider.opened {
        width: 100%
    }
}

// Tablet
@media screen and (min-width: 769px) and (max-width: 1023px) {
    .card-slider.opened {
        width: 60%
    }
}
