body
    height: 100vh
    width: 100%
    margin: 0
    padding: 0
    box-sizing: border-box

h1,
h2,
h3,
h4,
h5,
h6
    margin: 0

:root
    --spot-y: 0
    --spot-x: 0
    --aspect-ratio: 0
    --size: 0