// Typography
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap')

:root
    --fontSize: 16px
    --primaryFont: 'Roboto', sans-serif

// Colors
:root
    --primaryColor: #FFF
    --secondaryColor: #D3D3D3
    --tertiaryColor: #000
    
    --linearGradient1: #63C6E3
    --linearGradient2: #70CAE4
    --linearGradient3: #EBEAEE

    --brandColor: #0D51D1
    --navColor: #eee

// Positioning Cities Values
:root
    --spot-y: 0
    --spot-x: 0
    --aspect-ratio: 0
    --city-size: 0
